<div style="clear:both;"></div>
<div id="asterisks">
* Estimated Race time based solely on the average so far for the given activity. It does NOT take into account hills, wind, or fatigue!<br>
** Estimated Time of Day based on the Estimated Race time + the given start time above. If the athlete started earlier/later than the above start time please adjust accordingly!<br/>
*** Estimated Race Start time.  If the race employs a mass swim start or waves, this is likely more accurate.  If using a rolling start, there is no way to know for sure when the athlete started, so this is only an estimate.
</div>