<button onclick="$('.top-refresh').click();" type="button" style="float:left;">Reload All</button>
<div style="clear:both; height:5px;"></div>
<!-- <race-data raceid="2147483655" racename="lonestar70.3" bib="1" starttime="07:00:00"></race-data>
<race-data raceid="2147483655" racename="lonestar70.3" bib="2" starttime="07:00:00"></race-data>
<race-data raceid="2147483655" racename="lonestar70.3" bib="3" starttime="07:00:00"></race-data> -->

<race-data raceid="2147483655" racename="lonestar70.3" bib="301" starttime="08:00:00"></race-data>
<!-- <race-data raceid="2147483655" racename="lonestar70.3" bib="1896" starttime="07:52:00"></race-data> -->
<!-- <race-data raceid="2147483655" racename="lonestar70.3" bib="1914" starttime="07:52:00"></race-data> -->

<race-data raceid="2147483655" racename="lonestar70.3" bib="2480" starttime="08:08:00"></race-data>
<race-data raceid="2147483655" racename="lonestar70.3" bib="2486" starttime="08:08:00"></race-data>
<race-data raceid="2147483655" racename="lonestar70.3" bib="2501" starttime="08:08:00"></race-data>
