

<div class="container">
            <div class="hero-unit col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
            <h2>mDot Race Tracker</h2>
                The mDot Race Tracker scrapes the existing Ironman.com results site and pulls data for a given race and bib. The difference is that the existing site is very heavyweight, slow, and limited in it's time estimation capabilities. This tracker takes a racer's current average pace for their Bike/Run activities and calculates the estimated race time plus time of day the racer would cross that checkpoint. Enjoy!
                
            </div>
        </div>

<!-- <race-data raceid="1143240146" racename="wisconsin" bib="1442"></race-data> -->
