<button onclick="$('.top-refresh').click();" type="button" style="float:left;">Reload All</button>
<div style="clear:both; height:5px;"></div>

<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
	<thead>
	<tr>
		<th st-sort="name">Name</th>
		<th st-sort="totalDistance" >Total Distance</th>
		<th st-sort="lastCheckPointLoc" >Latest Checkpoint</th>
		<th st-sort="lastCheckPointRaceTime">Latest Checkpoint Time</th>
		<th st-sort="nextCheckPointLoc">Next Checkpoint</th>
		<th st-sort="nextCheckPointRaceTime">Predicted Checkpoint Time*</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in displayedCollection | orderBy:['-totalDistance', 'lastCheckPointRaceTime']" >
		<td>{{row.name}}</td>
		<td>{{row.totalDistance}}</td>
		<td>{{row.currentSport}} {{row.lastCheckPointLoc}}</td>
		<td>{{row.lastCheckPointRaceTime}}</td>
		<td>{{row.currentSport}} {{row.nextCheckPointLoc}}</td>
		<td>{{row.nextCheckPointRaceTime}}</td>
	</tr>
	</tbody>
</table>

<span ng-repeat="racer in raceData.bibs">
<race-data raceid="{{raceData.raceid}}" racename="{{raceData.racename}}" bib="racer.bib" starttime="{{racer.starttime}}" testData="{}"></race-data>
</span>

<ng-include src="'views/asterisks.html'"></ng-include>

