<button onclick="$('.top-refresh').click();" type="button" style="float:left;">Reload All</button>
<div style="clear:both; height:5px;"></div>
<race-data raceid="2147483658" racename="stgeorge70.3" bib="1856" starttime="07:42:00"></race-data>
<!-- <race-data raceid="2147483658" racename="stgeorge70.3" bib="138" starttime="07:18:00"></race-data>
<race-data raceid="2147483658" racename="stgeorge70.3" bib="1338" starttime="07:27:00"></race-data>
<race-data raceid="2147483658" racename="stgeorge70.3" bib="375" starttime="07:39:00"></race-data> -->

<ng-include src="'views/asterisks.html'"></ng-include>